* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

/* body {
    height: 100vh;
} */

.hero {
    position: relative;
    height: 772px;
    background: url("../img/Hero-banner.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
}

/* Dark overlay on image */
/* .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
} */

.content {
    position: relative;
    max-width: 600px;
    z-index: 1;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 16px;
    opacity: 0.9;
}

h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 24px;
}

.description {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 32px;
    opacity: 0.95;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 24px;
}

.primary-btn,
.secondary-btn {
    padding: 14px 28px;
    font-size: 14px;
    border-radius: 14px;
    cursor: pointer;
    font-weight: bold;
}

.primary-btn {
    background: white;
    color: black;
    border: 1px solid white;
}

.secondary-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
}

/* Smooth transition for buttons */
.primary-btn,
.secondary-btn {
    transition: all 0.3s ease;
}

/* Primary button hover */
.primary-btn:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
}

/* Secondary button hover */
.secondary-btn:hover {
    background: white;
    color: black;
}

/* Brand logo css */
.brand-section {
    background: #fff;
    padding: 40px 0;
  }
  
  .brand-carousel .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .brand-carousel img {
    width: 114px;
    height: 70px;
    object-fit: contain;
  }
  
  
/* Brand logo css */